/* ------------------basic universal reset ------------- */
* {
  padding: 0;
  margin: 0;
}

/* ---------------- sass variables -----------------------*/
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 16px;
}

/* -------------------- typography ---------------------*/
.heading-1, .heading-2 {
  padding-bottom: 10px;
}

.font-size-sm {
  font-size: 12px;
}

.bold {
  font-weight: 700;
}

.code-span {
  font-size: 28px;
}

/* ------------- utilities (bootstrappish) ------------- */
.display-none {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

.display-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
  flex-direction: column;
}

.banner-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position-relative {
  position: relative;
}

.flex-row {
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-items {
  align-items: center;
}

.color-white {
  color: white;
}

.flex-direction-column {
  flex-direction: column;
}

.max-width {
  max-width: 700px;
  margin: auto;
}

/* ----------------- spacing  ------------------------ */
.m-t-sm {
  margin-top: 20px;
}

.m-b-sm {
  margin-bottom: 5px;
}

.p-t-m {
  padding-top: 15px;
}

.p-t-l {
  padding-top: 40px;
}

.p-m {
  padding: 15px;
}

.heading-container {
  padding-left: 30px;
  height: 190px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.background-lochmara {
  background: #0086d0;
}

.background-black {
  background: black;
}

/* ---------------alert banner component -------------------- */
.alert-banner-container {
  width: 700px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  margin: auto;
  margin-top: 20px;
  border: 4px solid transparent;
  transition: all;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

svg.close-icon {
  position: absolute;
  right: 15px;
  top: 27px;
  cursor: pointer;
}

.banner-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.border-blue {
  border: solid 4px #0086d0;
}

.slide-up {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-name: slide-up;
          animation-name: slide-up;
  -webkit-animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
          animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* ----------------- animation ----------------- */
@-webkit-keyframes slide-up {
  from {
    transform: translateY(0px);
    visibility: visible;
    height: 100%;
    opacity: 1;
  }
  to {
    transform: translateY(-100px);
    visibility: hidden;
    height: 0px;
    opacity: 0;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(0px);
    visibility: visible;
    height: 100%;
    opacity: 1;
  }
  to {
    transform: translateY(-100px);
    visibility: hidden;
    height: 0px;
    opacity: 0;
  }
}
/*# sourceMappingURL=style.css.map */